        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3 col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2">
                    <div id="content">
                        <div class="row">
                            <form id="defaultForm" method="post" class="form-horizontal" action="target.php">
                                <label style="margin-left:-10px;">旧密码</label> 
                                <div class="form-group">
                                    <input type="password" class="form-control" name="oldPassword" placeholder="请输入旧密码" />
                                    <span class="help-block" id="firstNameMessage" />
                                </div>
                                <label style="margin-left:-10px;">新密码</label> 
                                <div class="form-group">
                                    <input type="password" class="form-control" name="newPassword1" placeholder="请输入新密码" />
                                    <span class="help-block" id="hint2" />
                                </div>
                                <label style="margin-left:-10px;">确认新密码</label> 
                                <div class="form-group">
                                    <input type="password" class="form-control" name="newPassword2" placeholder="请输入新密码" />
                                    <span class="help-block" id="hint3" />
                                </div>
                                <button class="btn btn-new1" type="submit">修改密码</button>
                            </form>
                            
                        </div><!-- /.row -->
                    </div>
                </div>
                

                
            </div><!-- /.row -->
        </div><!-- /.container -->