<div class="container">
            <div class="row">

                
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="middle">
                        <div class="panel panel-default shadow-effect">
                            <div class="col-xs-12 panel-header">
                                <div class="pull-left">
                                    <h4><a href="javascript:;">Android高级工程师</a></h4>
                                    <h4><a href="javascript:;">北京稀松平常公司</a></h4>
                                </div>
                                <div class="pull-right client-info">
                                    <span class="percent text-danger"><img class="img-circle" style="width:60px;height:60px" src="img/samples/avatar-5.jpg"></span>
                                </div>
                                <span class="hot-tag"></span>
                            </div>
                          
                            <div class="panel-body ">
                                <ul class="list-unstyled">
                                    <li>月薪： 3k~5k</li>
                                    <li>职位诱惑：</li>
                                    <li>
                                        <ul class="companyTags">
                                            <li>弹性工作</li>
                                            <li>技能培训</li>
                                            <li>节日礼物</li> 
                                        </ul>
                                    </li>
                                    <li>挑战题目：</li>
                                    <li>
                                        <ul>
                                            <li><a href="#">testnew1</a></li>
                                            <li><a href="#">喝啤酒</a></li>
                                            <li><a href="#">21点</a></li>
                                        </ul>
                                    </li>
                                    <li>难度：<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-calendar"></i>2014.09.09~2014.10.09</li>
                                    <li><i class="fa fa-user"></i>28人已接受挑战</li>
                                </ul>
                                
                            </div><!-- /.panel-body -->
                            <div class="panel-footer align-center">
                                <a href="oxcoder_signin.html"><button class="btn btn-new1">接受挑战</button></a>
                            </div><!-- /.panel-footer -->
                        </div>
                    </section>
                </div>
                

                <div class="col-md-12">
                    <section id="middle">                    
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                        </ul>
                    </section>
                </div>


                
            </div><!-- /.row -->
        </div><!-- /.container -->

