<div class="container">
<div class="row">
<div class="col-md-9 ">
                                    <section class="profile-stream">

                                        <form class="status-form" role="form">
                                            <div class="form-body">
                                                <div class="form-group">
                                                    <textarea class="form-control" placeholder="What's on your mind?"></textarea>
                                                </div>
                                            </div>

                                            <div class="form-footer">
                                                <div class="pull-left">
                                                    <label class="control-label">Attach file</label> 
                                                    <a href="#" class="btn btn-default btn-sm">Select file</a>
                                                </div>

                                                <div class="pull-right actions">
                                                    <div class="form-group">
                                                        <label class="control-label">Pin post</label>
                                                        <select style="display: none;">
                                                            <option>For a week</option>
                                                            <option>For a month</option>
                                                            <option>Permanently</option>
                                                        </select><div class="btn-group bootstrap-select"><button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><div class="filter-option pull-left">For a week</div>&nbsp;<div class="caret"></div></button><div class="dropdown-menu open"><ul class="dropdown-menu inner" role="menu"><li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">For a week</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="1"><a tabindex="0" class="" style=""><span class="text">For a month</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li><li rel="2"><a tabindex="0" class="" style=""><span class="text">Permanently</span><i class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li></ul></div></div>
                                                    </div>

                                                    <button class="btn btn-primary">Share</button>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Recent Activities</h3>
                                            </div><!-- /.panel-heading -->
                                            <div class="panel-body">

                                                <div class="activity-stream">

                                                    <div class="media">
                                                        <a class="pull-left" href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-3.jpg" alt="Sarah Cole">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="profile.html">Sarah Cole</a></h4>
                                                            <p>Bespoke qui master cleanse anim tousled minim.</p>

                                                            <ul class="list-inline">
                                                                <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                <li><a href="#" class="small">Comment</a></li>
                                                                <li><a href="#" class="small">Share</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>

                                                            <form class="form-comment">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Write a comment ...">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="media">
                                                        <a class="pull-left" href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-4.jpg" alt="Bryan Porter">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="#">Bryan Porter</a></h4>
                                                            <p>Intelligentsia mollit mustache biodiesel dolor. Pug sustainable flannel id minim, blue bottle umami tumblr keffiyeh odd future swag fixie.</p>

                                                            <ul class="list-inline">
                                                                <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                <li><a href="#" class="small">Comment</a></li>
                                                                <li><a href="#" class="small">Share</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>

                                                            <div class="media">
                                                                <a class="pull-left" href="profile.html">
                                                                    <img class="media-object" src="img/samples/avatar-3.jpg" alt="Sarah Cole">
                                                                </a>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><a href="profile.html">Sarah Cole</a></h4>
                                                                    <p>Umami seitan fashion axe, elit veniam whatever raw denim art party mumblecore jean shorts ad delectus eiusmod. </p>

                                                                    <ul class="list-inline">
                                                                        <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                        <li><a href="#" class="small">Comment</a></li>
                                                                        <li><a href="#" class="small">Share</a></li>
                                                                        <li><span class="muted small">about an hour ago</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <form class="form-comment">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Write a comment ...">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="media">
                                                        <a class="pull-left" href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-5.jpg" alt="Jose Duncan">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="profile.html">Jose Duncan</a></h4>
                                                            <p>Bespoke qui master cleanse anim tousled minim.</p>

                                                            <ul class="list-inline">
                                                                <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                <li><a href="#" class="small">Comment</a></li>
                                                                <li><a href="#" class="small">Share</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>

                                                            <form class="form-comment">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Write a comment ...">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="media">
                                                        <a class="pull-left" href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-6.jpg" alt="Julie Parker">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="profile.html">Julie Parker</a></h4>
                                                            <p>Enjoying the firework</p>
                                                            <a href="#" class="thumbnail inline-thumbnail">
                                                                <img src="img/samples/slide-4.jpg">
                                                            </a>

                                                            <ul class="list-inline">
                                                                <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                <li><a href="#" class="small">Comment</a></li>
                                                                <li><a href="#" class="small">Share</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>

                                                            <form class="form-comment">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Write a comment ...">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                    <div class="media">
                                                        <a class="pull-left" href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-7.jpg" alt="Anthony Weber">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="profile.html">Anthony Weber</a></h4>
                                                            <iframe width="560" height="315" src="//www.youtube.com/embed/sXpbONjV1Jc" frameborder="0" allowfullscreen=""></iframe>

                                                            <ul class="list-inline">
                                                                <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                <li><a href="#" class="small">Comment</a></li>
                                                                <li><a href="#" class="small">Share</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>

                                                            <div class="media">
                                                                <a class="pull-left" href="profile.html">
                                                                    <img class="media-object" src="img/samples/avatar-5.jpg" alt="Jose Duncan">
                                                                </a>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><a href="profile.html">Jose Duncan</a></h4>
                                                                    <p>Umami seitan fashion axe, elit veniam whatever raw denim art party mumblecore jean shorts ad delectus eiusmod. </p>

                                                                    <ul class="list-inline">
                                                                        <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                        <li><a href="#" class="small">Comment</a></li>
                                                                        <li><a href="#" class="small">Share</a></li>
                                                                        <li><span class="muted small">about an hour ago</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <div class="media">
                                                                <a class="pull-left" href="profile.html">
                                                                    <img class="media-object" src="img/samples/avatar-8.jpg" alt="Sophie Evans">
                                                                </a>
                                                                <div class="media-body">
                                                                    <h4 class="media-heading"><a href="profile.html">Sophie Evans</a></h4>
                                                                    <p>When you click the Share button, the HTML code used to embed a link that video is displayed directly below it, however that's not what we are after--we want to directly embed the video into the page. We do that by clicking the Embed button which is displayed directly below the Link URL, as shown below. </p>

                                                                    <ul class="list-inline">
                                                                        <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                        <li><a href="#" class="small">Comment</a></li>
                                                                        <li><a href="#" class="small">Share</a></li>
                                                                        <li><span class="muted small">about an hour ago</span></li>
                                                                    </ul>
                                                                </div>
                                                            </div>

                                                            <form class="form-comment">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Write a comment ...">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </section><!-- /.profile-stream -->
                                </div>
                 <!-- 好友列表--> 
<div class="col-md-3">
<div class="panel panel-default profile-sidebar">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Friends</h3>
                                        </div><!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <ul class="list-unstyled friend-list">
                                                <li>
                                                    <a href="#">
                                                        <span class="label label-success">online</span>
                                                        <img src="img/samples/avatar-8.jpg">Samantha Hills
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="label label-success">online</span>
                                                        <img src="img/samples/avatar-2.jpg">Nick Adam
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="label label-success">online</span>
                                                        <img src="img/samples/avatar-3.jpg">Samantha Brown
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="label label-success">online</span>
                                                        <img src="img/samples/avatar-4.jpg">Jeremy White
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>  
                                    </div>
                <div class="col-md-12">
                    <section id="middle">                    
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                        </ul>
                    </section>
                </div>



                                    </div>
            </div><!-- /.row -->
        </div><!-- /.container -->

<!-- 详情的弹出框-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
      <div class="media">
                                                        <a class="pull-left" href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-3.jpg" alt="Sarah Cole">
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading"><a href="profile.html">Sarah Cole</a></h4>
                                                            <p>Bespoke qui master cleanse anim tousled minim.</p>

                                                            <ul class="list-inline">
                                                                <li><a href="#" class="small"><i class="fa fa-thumbs-o-up"></i> Like</a></li>
                                                                <li><a href="#" class="small">Comment</a></li>
                                                                <li><a href="#" class="small">Share</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>

                                                            <form class="form-comment">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Write a comment ...">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>