        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="content">
                        <div class="row">
                            

                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <!--<form role="form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="搜索邮件">
                                            </div>
                                        </form>-->
                                        <hr>
                                          <ul class="nav nav-pills nav-stacked">
                                            <li class="active"><a href="/#/p-notifications">收件箱 <span class="pull-right badge badge-primary">12</span></a></li>
                                            <li><a href="/#/p-notification-out">发件箱</li>
                                        </ul>
                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                            </div><!-- /.col-md-3 -->
                            

                            <div class="col-md-9">
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">收件箱</h3>
                                        <div class="panel-toolbar">
                                            <div class="btn-group">
                                                第1页
                                            </div>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
                                                <a href="#" class="btn btn-default"><i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                    </div><!-- /.panel-heading -->
                                    <div class="panel-body">
                                        
                                    <ul class="list-unstyled item-listing">
                                                                                            
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="#">oxcoder官方信息</a>
                                                        <p><a href="oxcoder_message_view.html">官方消息不能回复</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="oxcoder_message_send.html" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="回复"><i class="fa fa-fw fa-mail-reply-all"></i></a>
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="oxcoder_user_corp_info.html">北京开始看税款公司</a>
                                                        <p><a href="oxcoder_message_view.html">小伙子不错呀，要不要一起来玩啊</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="oxcoder_message_send.html" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="回复"><i class="fa fa-fw fa-mail-reply-all"></i></a>
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="oxcoder_user_corp_info.html">Max</a>
                                                        <p><a href="oxcoder_message_view.html">Aenean lacinia bibendum nulla sed consectetur</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="oxcoder_message_send.html" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="回复"><i class="fa fa-fw fa-mail-reply-all"></i></a>
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="oxcoder_user_corp_info.html">北京开始看税款公司</a>
                                                        <p><a href="oxcoder_message_view.html">小伙子不错呀，要不要一起来玩啊</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="oxcoder_message_send.html" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="回复"><i class="fa fa-fw fa-mail-reply-all"></i></a>
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="oxcoder_user_corp_info.html">Max</a>
                                                        <p><a href="oxcoder_message_view.html">Aenean lacinia bibendum nulla sed consectetur</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="oxcoder_message_send.html" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="回复"><i class="fa fa-fw fa-mail-reply-all"></i></a>
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="oxcoder_user_corp_info.html">北京开始看税款公司</a>
                                                        <p><a href="oxcoder_message_view.html">小伙子不错呀，要不要一起来玩啊</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <div class="pull-left">
                                                        <a href="profile.html">
                                                            <img class="media-object" src="img/samples/avatar-1.jpg" width="100">
                                                        </a>
                                                    </div>
                                                    <div class="pull-right">
                                                        <div class="btn-group">
                                                            <a href="oxcoder_message_send.html" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="回复"><i class="fa fa-fw fa-mail-reply-all"></i></a>
                                                            <a href="#" class="btn btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="删除"><i class="fa fa-fw fa-trash-o"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <a href="oxcoder_user_corp_info.html">Max</a>
                                                        <p><a href="oxcoder_message_view.html">Aenean lacinia bibendum nulla sed consectetur</a></p>
                                                        <p class="small text-muted">24分钟前</p>
                                                    </div>
                                                </div><!-- /.media -->
                                            </li>
                                            
                                        </ul>

                                    </div><!-- /.panel-body -->
                                </div><!-- /.panel -->
                                
                            </div><!-- /.col-md-9 -->
                            

                        </div><!-- /.row -->
                    </div>
                </div>
                

                
            </div><!-- /.row -->
        </div><!-- /.container -->