        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <section id="middle">
                        
                        <div class="panel panel-default resume-block">
                            
                                <div>
                                    <!-- <h4>Level 1 菜鸟</h4> -->
                            </div>
                            <div class="panel-body shadow-effect">
                                <div>
                                 <dl class="dl-horizontal">
                                    <!-- <h3><i class="fa fa-money"></i> 我的身价</h3> -->
                                    <span style="padding: 10px;
background-color: #3872a4;
margin: 0px 0 0 -15px;
color: #fff;">Modify MyDishes</span>
</dl>
                                <dl class="dl-horizontal">

                                                   <div class="col-xs-6 col-md-4"  ng-repeat='dish in dishes'>
                                                    <div class="thumbnail">
                                                        <img ng-src="{{dish.picture}}" alt="Sample thumbnail 1">
                                                        <div class="caption">
                                                           <h3>{{dish.name}}</h3>
                                                            <p>{{dish.description}}</p>
                                                            <ul class="list-inline">
                                                                <li><a data-toggle="modal" data-target=".bs-example-modal-lg" ng-href="javascript:;" ng-click="toModifyDish(dish._id)"class="small">Modify</a></li>
                                                                <li><span class="muted small">about an hour ago</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                </dl>
                                                           

                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="middle">
                        
                                    <div class="panel-body shadow-effect" style="margin-top:20px;">

                                    <!-- <h3><i class="fa fa-money"></i> 我的身价</h3> -->
                                    <span style="padding: 10px;
background-color: #3872a4;
margin: 0px 0 0 -15px;
color: #fff;">基本资料</span>
                                        <h3>{{currentUser.username}}</h3>
                                        <p><span class="resume-label">性别:{{currentUser.gender}} </span></p>
                                        <p><span class="resume-label">邮箱:{{currentUser.email}}</span></p>
                                        <p class="pull-right"><a data-toggle="modal" data-target=".modal-personal-info" href="javascript:;" class="resume-action">编辑</a></p>
                                    </div><!-- /.panel-body -->
                        
                        
                    </section>
                </div>
                

                
            </div><!-- /.row -->
        </div><!-- /.container -->
        <!-- 详情的弹出框-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modify {{detailInfo.name}}</h4>
      </div>
  <div class="modal-body">
      <div class="media">
      <p class="well">{{detailInfo.description}}</p> 
      <p class="well"><img ng-src="{{detailInfo.picture}}"></p>
      <form class="form-comment" ng-submit="modifyDish()">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Change name" ng-model="detailInfo.name"><br/>
                    <input type="text" class="form-control" placeholder="Change description" ng-model="detailInfo.description"><br/>
                      <input class="btn btn-primary" type="submit" value="change"/>{{message}}
                                                                </div>
       </form>
                                                       
               </div>
      </div>

    </div>
  </div>
</div>
        <!-- 修改个人信息的弹出框-->
<div class="modal fade modal-personal-info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Personal Info</h4>
      </div>
      <div class="modal-body">
      <div class="media">
<form ng-submit="modify()" class="form-horizontal" role="form">
<div class="form-group">
<label for="avatar" class="col-sm-2 control-label">Avatar</label>
<div class="col-sm-10">
    <div class="dropzone alert alert-info col-md-3" file-dropzone="[image/png, image/jpeg, image/gif]"
                  file="image" file-name="imageFileName" data-max-file-size="3">
      	<span class="drop-here">Your Avatar</span>
    </div>
    <div class="image-container">
      <img style="display: none" ng-src={{image}}  ng-model="image" class="img-thumbnail img-upload" />
      <span style="display: none;" class="file-name">{{imageFileName}}</span>
      <span style="display: none;">{{image}}</span>
      <img ng-src="{{currentUser.picture}}">
    </div>
</div>

</div>
  <div class="form-group">
    <label for="username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" name="username" id="username" class="form-control" ng-model="currentUser.username" required />
    </div>
  </div>
  <div class="form-group">
    <label for="firstName" class="col-sm-2 control-label">FrstName</label>
    <div class="col-sm-10">
      <input type="text" name="firstName" id="firstName" class="form-control" ng-model="currentUser.firstName" required />
    </div>
  </div>
  
    <div class="form-group">
    <label for="lastName" class="col-sm-2 control-label">lastName</label>
    <div class="col-sm-10">
     <input type="text" name="lastName" id="lastName" class="form-control" ng-model="currentUser.lastName" required />
    </div>
  </div>
    <div class="form-group">
     <label for="gender" class="col-sm-2 control-label">Gender</label>
        
         <div class="col-sm-10">
             <select name="gender" id="gender" class="form-control" ng-model="currentUser.gender">
	<option value="male" >male</option>
  	<option value="female">female</option>
        </select>
    </div>

  </div>
    <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="text" name="email" id="email" class="form-control" ng-model="currentUser.email" required />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
                                                       
 </div>
      </div>

    </div>
  </div>
</div>
<!--<p>This is the p-personal-info view.</p>
{{currentUser.username}}<br>
{{currentUser.firstName}}<br>
{{currentUser.lastName}}<br>
{{currentUser.gender}}<br>
{{currentUser.email}}
<hr>
modify
<hr>
<form name="form" ng-submit="modify()" role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <i class="fa fa-key"></i>
        <input type="text" name="username" id="username" class="form-control" ng-model="currentUser.username" required />
        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
    </div>
    <div class="form-group">
        <label for="firstName">firstName</label>
        <i class="fa fa-key"></i>
        <input type="text" name="firstName" id="firstName" class="form-control" ng-model="currentUser.firstName" required />
        <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">firstName is required</span>
    </div>
    <div class="form-group">
        <label for="lastName">lastName</label>
        <i class="fa fa-key"></i>
        <input type="text" name="lastName" id="lastName" class="form-control" ng-model="currentUser.lastName" required />
        <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">lastName is required</span>
    </div>
    <div class="form-group">
        <label for="gender">gender</label>
        <i class="fa fa-key"></i>
        <select name="gender" id="gender" class="form-control" ng-model="currentUser.gender">
	<option value="male" >male</option>
  	<option value="female">female</option>
        </select>
        <span ng-show="form.gender.$dirty && form.gender.$error.required" class="help-block">gender is required</span>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <i class="fa fa-key"></i>
        <input type="text" name="email" id="email" class="form-control" ng-model="currentUser.email" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">email is required</span>
    </div>
    <div class="form-actions">
        <button type="submit"  class="btn btn-danger">Change Profile</button>
    </div>
    <div class="success">{{message}}</div>
</form>-->
