        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2 col-xs-10 col-xs-push-1 col-sm-8 col-sm-push-2">
                    <section id="middle">

                        <div id="" class="signin-page">

                            <div class="panel-group" id="signin-page">

                            <h3 class="panel-title" style="font-size: 2.4em;padding: 25px 25px 10px;text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);">Nourriture Sign In</h3>
                                <div class="panel panel-outline panel-no-padding" style="border:none;">
                                    <div id="signin" class="panel-collapse collapse in">
                                        <div class="panel-heading" style="background-color: #6496be;padding:3px;">
                                            
                                        </div>
                                        <div class="panel-body col-md-12">
                                            <form ng-submit="login()" role="form" id="defaultForm" class="form-horizontal">
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                            <input type="text" id="login-email" name="username" class="form-control input-lg"  ng-model="username" required placeholder="Your username">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--{{username}}-->
                                                <div class="form-group">
                                                    <div class="col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                            <input type="password" id="login-password" name="password" class="form-control input-lg"  ng-model="password" placeholder="Your password">
                                                        </div>
                                                    </div>
                                                </div>
                                               <!-- {{password}}-->
                                                <div class="col-xs-12">
                                                    <button type="submit" class="btn btn-primary btn-lg" style="margin-left:20px;border-radius: 3px;">Sign In</button>
                                                </div>
                                                <div class="col-xs-12">
                                                    
                                                </div>  
                                            </form>
                                        </div><!-- /.panel-body -->
                                        <div class="panel-body col-md-12">
                                            <div style="margin:20px;">
                                                <p class="align-left" style="font-size:16px;color:#666;">No account？<a ng-href="#/register">Sign up </a>now!</p>
                                            </div>
                                        </div><!-- /.panel-body -->
                                    </div><!-- /.panel-collapse -->
                                </div><!-- /.panel -->
                            


                        </div><!-- /#content -->

                    </section>
                </div><!-- /.col-md-10 -->

            </div><!-- /.row -->
        </div><!-- /.container -->